.vs/
MasterDataExchange/bin/*
MasterDataExchange/obj/*
MasterDataExchange/Properties/*
Models/bin/*
Models/obj/*
AndroidAmcu/bin/*
AndroidAmcu/obj/*
AndroidAmcu/Properties/*
MasterDataExchange/DataExchange.csproj.user
AndroidAmcu/AndroidAmcu.csproj.user
!FileServer/
FileServer/*
!FileServer/Identity/
FileServer/Identity/*
!FileServer/Identity/Struct
